In [1]:
# mengimport Library yang di butuhkan
from __future__ import print_function
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [2]:
# mengimport dataset train 
dataset = pd.read_csv('Train1.csv',sep =';')
dataset.head(5)

    NISN  Nama   Umur   Kelas  Rerata UN  Rata足rata Nilai Sekolah      Hasil
0  27786  Akbar     17  IPA 1         87                       83      Lolos
1  38539  Opang     17  IPA 2         83                       91      Lolos
2  47031  Erwan     18  IPA 2         91                       84      Lolos
3  58624   Kaka     17  IPS 3         90                      100      Lolos
4  68091   Cimo     17  IPS 4         82                       75  Coba lagi

In [3]:
# menghapus dan memilih data yang menjadi bahan pertimbangan data train
dataset = dataset.drop(dataset.columns[0:4],axis = 1)
dataset.head(5)

   Rerata UN  Rata足rata Nilai Sekolah      Hasil
0         87                       83      Lolos
1         83                       91      Lolos
2         91                       84      Lolos
3         90                      100      Lolos
4         82                       75  Coba lagi

In [50]:
# merubah dataset ke dalam bentuk list
training_data = dataset.values.tolist()
training_data

[[87, 83, 'Lolos'],
 [83, 91, 'Lolos'],
 [91, 84, 'Lolos'],
 [90, 100, 'Lolos'],
 [82, 75, 'Coba lagi'],
 [80, 78, 'Coba lagi'],
 [78, 77, 'Coba lagi'],
 [81, 72, 'Coba lagi'],
 [82, 72, 'Coba lagi'],
 [80, 84, 'Lolos'],
 [79, 91, 'Lolos'],
 [91, 79, 'Lolos'],
 [83, 75, 'Coba lagi'],
 [80, 75, 'Coba lagi'],
 [81, 77, 'Lolos'],
 [90, 88, 'Lolos'],
 [91, 91, 'Lolos'],
 [92, 87, 'Lolos'],
 [79, 96, 'Lolos'],
 [93, 84, 'Lolos'],
 [93, 71, 'Coba lagi'],
 [95, 84, 'Lolos'],
 [82, 97, 'Lolos'],
 [84, 84, 'Lolos'],
 [80, 78, 'Coba lagi'],
 [79, 96, 'Lolos'],
 [90, 81, 'Lolos'],
 [92, 95, 'Lolos']]

In [5]:
# memberi nama label dari kolom
header = ["Rerata UN","Rata-rata Nilai Sekolah","Hasil"]

In [6]:
# mencari value unik
def unique_vals(rows, col):
    return set([row[col] for row in rows])

In [7]:
unique_vals(training_data, 1)

{71, 72, 75, 77, 78, 79, 81, 83, 84, 87, 88, 91, 95, 96, 97, 100}

In [8]:
# menghitung jumlah fitur dari sebuah dataset
def class_counts(rows):
    counts = {}  # deklarasi label ke count
    for row in rows:
        # label adalah kolom terakhir
        label = row[-1]
        if label not in counts:
            counts[label] = 0
        counts[label] += 1
    return counts

In [9]:
class_counts(training_data)

{'Lolos': 19, 'Coba lagi': 9}

In [10]:
# tes apakah numerik atau bukan
def is_numeric(value):
    return isinstance(value, int) or isinstance(value, float)

In [11]:
is_numeric(4)

True

In [12]:
# function ini membuat sebuah pertanyaan digunakan untuk mempartisi dataset 
class Question:

    def __init__(self, column, value): #digunakan untuk merecord column number dan value yang di tentukan user
        self.column = column
        self.value = value

    def match(self, example):
        # menentukan ketika value adalah numerik dan ketika fitur tidak berupa numerik
        val = example[self.column]
        if is_numeric(val):
            return val >= self.value
        else:
            return val == self.value

    def __repr__(self):
        # This is just a helper method to print
        # the question in a readable format.
        condition = "=="
        if is_numeric(self.value):
            condition = ">="
        return "Is %s %s %s?" % (
            header[self.column], condition, str(self.value))

In [13]:
#tes pertanyaan numerik
Question(1, 79)

Is Rata-rata Nilai Sekolah >= 79?

In [14]:
q = Question(1, 75)
q

Is Rata-rata Nilai Sekolah >= 75?

In [15]:
# contoh
example = training_data[0]
q.match(example)
# benar selama rata2 sekolah di atas 75

True

In [16]:
def partition(rows, question):
    #function partition menerima 2 input yaitu row list dan pertanyaan
    #function akan menganalisa benar atau tidak dan akan di klasifikasikan ke masing-masing row
    true_rows, false_rows = [], []
    for row in rows:
        if question.match(row):
            true_rows.append(row)
        else:
            false_rows.append(row)
    return true_rows, false_rows

In [59]:
true_rows, false_rows = partition(training_data, Question(2, 'Lolos'))
true_rows

[[87, 83, 'Lolos'],
 [83, 91, 'Lolos'],
 [91, 84, 'Lolos'],
 [90, 100, 'Lolos'],
 [80, 84, 'Lolos'],
 [79, 91, 'Lolos'],
 [91, 79, 'Lolos'],
 [81, 77, 'Lolos'],
 [90, 88, 'Lolos'],
 [91, 91, 'Lolos'],
 [92, 87, 'Lolos'],
 [79, 96, 'Lolos'],
 [93, 84, 'Lolos'],
 [95, 84, 'Lolos'],
 [82, 97, 'Lolos'],
 [84, 84, 'Lolos'],
 [79, 96, 'Lolos'],
 [90, 81, 'Lolos'],
 [92, 95, 'Lolos']]

In [60]:
false_rows

[[82, 75, 'Coba lagi'],
 [80, 78, 'Coba lagi'],
 [78, 77, 'Coba lagi'],
 [81, 72, 'Coba lagi'],
 [82, 72, 'Coba lagi'],
 [83, 75, 'Coba lagi'],
 [80, 75, 'Coba lagi'],
 [93, 71, 'Coba lagi'],
 [80, 78, 'Coba lagi']]

In [61]:
def gini(rows): #function ini digunakan untuk menghitung impurity
    
    counts = class_counts(rows)
    impurity = 1
    for lbl in counts:
        prob_of_lbl = counts[lbl] / float(len(rows))
        impurity -= prob_of_lbl**2
    return impurity

In [80]:
# Contoh menentukan rasio dari mixing 
some_mixing = [[1],
               [2]]
gini(some_mixing)
#hasil menjadi 0.5 dikarenakan adanya 50% salah penentuan

0.5

In [21]:
# function ini menghasilkan information gain dari mengurangi impurity induk dan nodes nya
def info_gain(left, right, current_uncertainty):
    
    p = float(len(left)) / (len(left) + len(right))
    return current_uncertainty - p * gini(left) - (1 - p) * gini(right)

In [75]:
# mengecek uncertainty dari data training kita
current_uncertainty = gini(training_data)
current_uncertainty

0.4362244897959182

In [23]:
# contoh dari information gain
true_rows, false_rows = partition(training_data, Question(2, 'Lolos'))
info_gain(true_rows, false_rows, current_uncertainty)

0.4362244897959182

In [24]:
# contoh dari information gain
true_rows, false_rows = partition(training_data, Question(1, 80))
info_gain(true_rows, false_rows, current_uncertainty)

0.31934137291280135

In [25]:
# function ini mencari pertanyaan yang paling sesuai untuk di gunakan dengan satu persatu menghitung information gain
def find_best_split(rows):
    best_gain = 0  # keep track of the best information gain
    best_question = None  # keep train of the feature / value that produced it
    current_uncertainty = gini(rows)
    n_features = len(rows[0]) - 1  # banyak kolom 

    # disini kita akan melihat setiap value dari fitur tersebut kita akan menghasillan pertanyaan serta mempartisi data tersebut
    # kita akan membuang pertanyaan yang gagal menghasilkan pecahan
    for col in range(n_features):  # for each feature

        values = set([row[col] for row in rows])  # unique values in the column

        for val in values: 

            question = Question(col, val)

            # splitting dataset
            true_rows, false_rows = partition(rows, question)

            # skip ketika datset tidak splittig
            if len(true_rows) == 0 or len(false_rows) == 0:
                continue

            # Calculate the information gain from this split
            gain = info_gain(true_rows, false_rows, current_uncertainty)

            if gain >= best_gain:
                best_gain, best_question = gain, question

    return best_gain, best_question

In [26]:
# contoh pertanyaan yang paling sesuai 
best_gain, best_question = find_best_split(training_data)
best_question

Is Rata-rata Nilai Sekolah >= 79?

In [27]:
class Leaf: #leaf memuat dicionary dari data yang berhasil di olah


    def __init__(self, rows):
        self.predictions = class_counts(rows)

In [28]:
# Decision Node menanyakan pertanyaan
class Decision_Node:

    def __init__(self,
                 question,
                 true_branch,
                 false_branch):
        self.question = question
        self.true_branch = true_branch
        self.false_branch = false_branch

In [29]:
def build_tree(rows):


    # disini kita akan mempartisi data dan memakai pertanyaan yang menghasilkan information dengan gain paling tinggi
    gain, question = find_best_split(rows)


    #ketika tidak ada lagi information gain, kita akan return leaf
    if gain == 0:
        return Leaf(rows)

    # If we reach here, we have found a useful feature / value
    # to partition on.
    true_rows, false_rows = partition(rows, question)

    # memangggil tree kembali untuk menambahkan node
    true_branch = build_tree(true_rows)

    # false juga akan menjadi leaf ketika tidak ada lagi gain yang bisa di dapatkan
    false_branch = build_tree(false_rows)

    # ketika selesai maka akan terbentuk decision node 
    return Decision_Node(question, true_branch, false_branch)

In [30]:
def print_tree(node, spacing=""):

    # Base case: we've reached a leaf
    if isinstance(node, Leaf):
        print (spacing + "Predict", node.predictions)
        return

    # Print the question at this node
    print (spacing + str(node.question))

    # Call this function recursively on the true branch
    print (spacing + '--> True:')
    print_tree(node.true_branch, spacing + "  ")

    # Call this function recursively on the false branch
    print (spacing + '--> False:')
    print_tree(node.false_branch, spacing + "  ")

In [31]:
#ketika di panggil pertama kali tree ini akan menerima semua data training sebagai input
my_tree = build_tree(training_data)

In [32]:
print_tree(my_tree)

Is Rata-rata Nilai Sekolah >= 79?
--> True:
  Predict {'Lolos': 18}
--> False:
  Is Rata-rata Nilai Sekolah >= 77?
  --> True:
    Is Rerata UN >= 81?
    --> True:
      Predict {'Lolos': 1}
    --> False:
      Predict {'Coba lagi': 3}
  --> False:
    Predict {'Coba lagi': 6}

In [33]:
def classify(row, node):

    # mencapai leaf
    if isinstance(node, Leaf):
        return node.predictions

    #menentukan untuk ke arah true atau false branch
    if node.question.match(row):
        return classify(row, node.true_branch)
    else:
        return classify(row, node.false_branch)

In [34]:
#contoh prediksi dari confidence teritinggi
classify(training_data[0], my_tree)

{'Lolos': 18}

In [35]:
def print_leaf(counts):
    total = sum(counts.values()) * 1.0
    probs = {}
    for lbl in counts.keys():
        probs[lbl] = str(int(counts[lbl] / total * 100)) + "%"
    return probs

In [36]:
print_leaf(classify(training_data[0], my_tree))

{'Lolos': '100%'}

In [37]:
newset = pd.read_csv('Test1.csv',sep =';')
newset = newset.drop(newset.columns[0:4],axis = 1)
newset.head(5)

   Rerata UN  Rerata Nilai Sekolah Hasil
0         80                    94    ?
1         70                    97    ?
2         84                    77    ?
3         90                    89    ?
4         92                    92    ?

In [38]:
testing_data = newset.values.tolist()
for row in testing_data:
    print ("Actual: %s. Predicted: %s" %
           (row[1], print_leaf(classify(row, my_tree))))

Actual: 94. Predicted: {'Lolos': '100%'}
Actual: 97. Predicted: {'Lolos': '100%'}
Actual: 77. Predicted: {'Lolos': '100%'}
Actual: 89. Predicted: {'Lolos': '100%'}
Actual: 92. Predicted: {'Lolos': '100%'}
Actual: 81. Predicted: {'Lolos': '100%'}
Actual: 92. Predicted: {'Lolos': '100%'}
Actual: 78. Predicted: {'Coba lagi': '100%'}
Actual: 78. Predicted: {'Lolos': '100%'}
Actual: 95. Predicted: {'Lolos': '100%'}
Actual: 83. Predicted: {'Lolos': '100%'}